
*.cbp
*.o
*.make
*.txt
*.cmake
*.internal
*.includecache
VPC3/cmake-build-debug/Makefile
VPC3/cmake-build-debug/CMakeFiles/Makefile2
*.bin
VPC3/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/CMakeCCompilerId.c
*.out
VPC3/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.check_cache
*.log
*.c
*.cxx
*.xml
*.iml
*.marks
VPC3/cmake-build-debug/CMakeFiles/Progress/1
VPC3/cmake-build-debug/CMakeFiles/Progress/2
VPC3/cmake-build-debug/CMakeFiles/Progress/3
VPC3/.DS_Store
VPC3/cmake-build-debug/CMakeFiles/Progress/4
.DS_Store
VPC3/cmake-build-debug/CMakeFiles/Progress/5
VPC3/cmake-build-debug/CMakeFiles/Progress/6
VPC3/cmake-build-debug/CMakeFiles/Progress/7
